$bg: #483c47;
$bg-alt: #CCB2AE;
$fg: #f1f0e4;
$black: #CCB2AE;
$lightblack: #a8a89f;
$red: #CCB2AE;
$blue: #D4CFB6;
$cyan: #E1C4B9;
$magenta: #C2BBCC;
$green: #DCD0CE;
$yellow: #F2D2CF;
$archicon: #D4CFB6;
