$bg: #0b0615;
$bg-alt: #5271C6;
$fg: #e8e6e9;
$black: #5271C6;
$lightblack: #a2a1a3;
$red: #5271C6;
$blue: #A46E8D;
$cyan: #C47B89;
$magenta: #AA959B;
$green: #BFAAB7;
$yellow: #D2D1EE;
$archicon: #A46E8D;
