$bg: #0C0C11;
$bg-alt: #728FD3;
$fg: #e8e4f0;
$black: #728FD3;
$lightblack: #a29fa8;
$red: #728FD3;
$blue: #72DDFE;
$cyan: #C6A5B8;
$magenta: #FDDA91;
$green: #9A98D8;
$yellow: #B5B2D2;
$archicon: #72DDFE;
