$bg: #0C0B17;
$bg-alt: #827C86;
$fg: #f5f4f4;
$black: #827C86;
$lightblack: #abaaaa;
$red: #827C86;
$blue: #A6979C;
$cyan: #CFAEB0;
$magenta: #D5CFCF;
$green: #E7DAD8;
$yellow: #F9F6F4;
$archicon: #A6979C;
