$bg: #190e10;
$bg-alt: #4C494F;
$fg: #e2cdc6;
$black: #4C494F;
$lightblack: #9e8f8a;
$red: #4C494F;
$blue: #715755;
$cyan: #9F503E;
$magenta: #926A62;
$green: #7E8277;
$yellow: #B08F74;
$archicon: #715755;
