$bg: #1c1616;
$bg-alt: #AEA4A1;
$fg: #f3eae3;
$black: #AEA4A1;
$lightblack: #aaa39e;
$red: #f7768e;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #bb9af7;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
